<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>


<body>
<div>
<h1>Restaurants</h1>

<a href="{{url_for('newRestaurant')}}" > <h3> Create a New Restaurant </h3> </a>

{{restaurant.name}}
<p><a href = "#">Edit Restaurant</a></p>

<p> <a href = "#">Delete Restaurant</a> </p>

<p>Blue Burgers</p>
<p><a href = "#">Edit Restaurant</a></p>

<p> <a href = "#">Delete Restaurant</a> </p>

<p>Taco Hut</p>
<p><a href = "#">Edit Restaurant</a></p>

<p> <a href = "#">Delete Restaurant</a> </p>

</body>
</html>